@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --light-100: #fcfcfc;
  --light-200: #FDFEFA;
  --light-300: #b7b7b7;
  --light-400: #D2D1D1;
  --light-x: #808481;
  --secondary-500: #8475A6;
  --secondary-x: #180c33;
}


.btn {
  @apply inline-flex items-center justify-center gap-x-2
}

.btn-primary-500 {
  @apply bg-primary-500 text-white;
}

.btn-outline-primary-500 {
  @apply border border-primary-500 text-primary-500;
}

.btn-outline-white {
  @apply border bg-light-200;
}

.accordion-item[open]{
  @apply border-l-[5px] border-primary-900 bg-highlight;
}

.accordion-item[open] .accordion-marker::before {
  content: "\F62A"
} 